1) How-to-count-distance-to-the-previous-zero For each value, count the difference of the distance from the previous zero (or the start of the Series, whichever is closer) and if there are no previous zeros,print the position Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]} The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'. import pandas as pd df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. 3) Find the sum of the values in s for every Wednesday 4) Average For each calendar month 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [3]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [4]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [5]:
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31')
s = pd.Series(np.random.rand(len(datetimeindex)),index=datetimeindex)

In [6]:
s

2015-01-01    0.782432
2015-01-02    0.904587
2015-01-03    0.777259
2015-01-04    0.455112
2015-01-05    0.581347
2015-01-06    0.529408
2015-01-07    0.441668
2015-01-08    0.307004
2015-01-09    0.956744
2015-01-10    0.892418
2015-01-11    0.862300
2015-01-12    0.817056
2015-01-13    0.173147
2015-01-14    0.487340
2015-01-15    0.284197
2015-01-16    0.503907
2015-01-17    0.805227
2015-01-18    0.617375
2015-01-19    0.550262
2015-01-20    0.956968
2015-01-21    0.629693
2015-01-22    0.338167
2015-01-23    0.817071
2015-01-24    0.732369
2015-01-25    0.408266
2015-01-26    0.608969
2015-01-27    0.574394
2015-01-28    0.542810
2015-01-29    0.954023
2015-01-30    0.726722
                ...
2015-12-02    0.309970
2015-12-03    0.417054
2015-12-04    0.447028
2015-12-05    0.502250
2015-12-06    0.210603
2015-12-07    0.453421
2015-12-08    0.712662
2015-12-09    0.303346
2015-12-10    0.898586
2015-12-11    0.317705
2015-12-12    0.228545
2015-12-13    0.655930
2015-12-14    0.519631
2015-12-15    0.269933
2015-12-16    0.411433
2015-12-17    0.130086
2015-12-18    0.007097
2015-12-19    0.853425
2015-12-20    0.988285
2015-12-21    0.674489
2015-12-22    0.693650
2015-12-23    0.863810
2015-12-24    0.366801
2015-12-25    0.855226
2015-12-26    0.879723
2015-12-27    0.631147
2015-12-28    0.346462
2015-12-29    0.362436
2015-12-30    0.027791
2015-12-31    0.014968
Freq: D, Length: 365, dtype: float64

In [7]:
s[datetimeindex.weekday_name == 'Wednesday'].sum()

29.442790550749237

In [8]:
s.groupby(pd.Grouper(freq='M')).mean()

2015-01-31    0.643776
2015-02-28    0.576679
2015-03-31    0.483310
2015-04-30    0.419144
2015-05-31    0.471260
2015-06-30    0.567462
2015-07-31    0.575144
2015-08-31    0.546792
2015-09-30    0.563167
2015-10-31    0.508907
2015-11-30    0.460957
2015-12-31    0.463232
Freq: M, dtype: float64

In [9]:
s.groupby(pd.Grouper(freq='4M')).max()

2015-01-31    0.956968
2015-05-31    0.996959
2015-09-30    0.992787
2016-01-31    0.988285
dtype: float64